body {
    background-color: #f5e8b7;
    font-family: "Pacifico", cursive;
    font-size: 36px;
    margin: 0;
}

.head {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 50px auto;
    filter: drop-shadow(6px -3px 3px rgba(0, 0, 0, 0.4));
}

.basehair {
    position: absolute;
    top: 40px;
    left: 70px;
    width: 160px;
    height: 50px;
    background-color: black;
    border-radius: 150px 150px 0 0;
    z-index: 9;
}

.blocks {
    position: absolute;
    top: 0;
    left: 0;
}

.block1 {
    position: absolute;
    top: -10px;
    left: 100px;
    width: 40px;
    height: 100px;
    border-radius: 0 120px 0 0;
    background: linear-gradient(89deg, rgb(116, 116, 116) 10%, black 20%);
    transform: rotate(330deg);
}

.block2 {
    position: absolute;
    top: 15px;
    left: 65px;
    width: 40px;
    height: 100px;
    border-radius: 0 120px 0 0;
    background-image: radial-gradient(farthest-corner at 1px 53px,black 65%,rgb(116, 116, 116) 70%);
    transform: rotate(310deg);
}

.block3 {
    position: absolute;
    top: 50px;
    left: 40px;
    width: 40px;
    height: 100px;
    border-radius: 0 120px 0 0;
    background-image: radial-gradient(farthest-corner at 1px 53px,black 65%,rgb(116, 116, 116) 70%);
    transform: rotate(280deg);
}

.block4 {
    position: absolute;
    top: 85px;
    left: 70px;
    width: 20px;
    height: 100px;
    border-radius: 0 120px 0 0;
    background-image: radial-gradient(farthest-corner at 5px 60px,black 65%,rgb(116, 116, 116) 75%);
    transform: rotate(275deg);
}

.block5 {
    position: absolute;
    top: 130px;
    left: 55px;
    width: 20px;
    height: 50px;
    border-radius: 0 120px 0 0;
    background-image: radial-gradient(farthest-corner at 2px 60px,black 65%,rgb(116, 116, 116) 75%);
    transform: rotate(270deg);
}

.block6 {
    position: absolute;
    top: 70px;
    left: 130px;
    width: 100px;
    height: 10px;
    border-radius: 0 150px 0 0;
    background-image: radial-gradient(farthest-corner at 20px 7px,black 65%,rgb(116, 116, 116) 75%);
    transform: rotate(310deg);
}

.block7 {
    position: absolute;
    top: 25px;
    left: 190px;
    width: 20px;
    height: 100px;
    border-radius: 0 0 120px 0;
    background-image: radial-gradient(farthest-corner at 1px 40px,black 65%,rgb(116, 116, 116) 75%);
    transform: rotate(240deg);
}

.block8 {
    position: absolute;
    top: 50px;
    left: 200px;
    width: 40px;
    height: 100px;
    border-radius: 0 0 120px 0;
    background-image: radial-gradient(farthest-corner at 5px 40px,black 65%,rgb(116, 116, 116) 70%);
    transform: rotate(260deg);
}

.block9 {
    position: absolute;
    top: 85px;
    left: 200px;
    width: 20px;
    height: 100px;
    border-radius: 0 0 120px 0;
    background-image: radial-gradient(farthest-corner at 5px 40px,black 65%,rgb(116, 116, 116) 75%);
    transform: rotate(265deg);
}

.block10 {
    position: absolute;
    top: 130px;
    left: 225px;
    width: 20px;
    height: 50px;
    border-radius: 0 0 120px 0;
    background-image: radial-gradient(farthest-corner at 2px 2px,black 65%,rgb(116, 116, 116) 75%);
    transform: rotate(270deg);
}

.flocks {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
}

.flock1 {
    position: absolute;
    top: 80px;
    left: 70px;
    width: 30px;
    height: 60px;
    border-radius: 0 120px 0 0;
    background-color: black;
    transform: rotate(190deg);
    z-index: 5;
}

.flock2 {
    position: absolute;
    top: 68px;
    left: 100px;
    width: 32px;
    height: 60px;
    border-radius: 0 120px 0 0;
    background-color: black;
    transform: rotate(190deg);
    z-index: 5;
    box-shadow: -10px 0px 5px rgba(177, 114, 63, 0.7);
}

.flock3 {
    position: absolute;
    top: 75px;
    left: 144px;
    width: 0;
    height: 0;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 60px solid black;
    transform: rotate(10deg);
    z-index: 5;
}

.flock4 {
    position: absolute;
    top: 68px;
    left: 170px;
    width: 32px;
    height: 60px;
    border-radius: 120px 0 0 0;
    background-color: black;
    transform: rotate(170deg);
    z-index: 5;
    box-shadow: 10px 0px 5px rgba(177, 114, 63, 0.7);
}

.flock5 {
    position: absolute;
    top: 80px;
    left: 200px;
    width: 30px;
    height: 60px;
    border-radius: 120px 0 0 120px;
    background-color: black;
    transform: rotate(170deg);
    z-index: 5;
}

.face {
    position: absolute;
    top: 75px;
    left: 80px;
    width: 140px;
    height: 150px;
    background-color: #fcccac;
    border-radius: 42%;
    border: 1px solid black;
    z-index: 5;
    box-shadow: inset 5px 0 2px rgba(177, 114, 63, 0.7),inset -0px -5px 2px rgba(177, 114, 63, 0.7),inset -7px -0px 2px rgba(177, 114, 63, 0.7);
}

.leye, .reye {
    position: absolute;
    top: 50px; 
}

.leye {
    left: 20px; 
}

.reye {
    left: 80px; 
}

.lwhite, .rwhite {
    position: absolute;
    top: -10px;
    left: -2px;
    width: 15px;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 55px solid white;
    border-radius: 50% 50% 20% 20%;
}

.liris, .riris {
    position: absolute;
    top: 7px;
    left: 25px;
    width: 10px;
    height: 15px;
    background-color: black;
    border-radius: 40%;
}

.rwhite {
    transform: rotate(260deg);
    left: 8px;
}

.lwhite {
    transform: rotate(100deg);
}

.riris {
    left: 5px;
}

.leyebrow, .reyebrow { 
    position: absolute; 
    left: -14px; 
    width: 60px; 
    height: 11px; 
    border-top: 6px solid black; 
    transform: rotate(25deg); 
}

.reyebrow {
    left: -6px;
    transform: rotate(335deg);
}

.nose {
    position: absolute;
    top: 92px;
    left: 65px;       
    width: 10px;
    height: 10px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 100% 0 100% 1000%;
    transform: rotate(120deg);
}

.mouth {
    position: absolute;
    top: 103px;
    left: 53px;
    width: 35px;
    height: 17px;
    border-bottom: 2px solid black; 
    border-radius: 100% 50% 100% 100%;;
}

.ears {
    position: absolute;
    top: 80px;
    left: 75px;
}

.lear, .rear {
    position: absolute;
    width: 20px;
    height: 40px;
    background-color: #fcccac;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 1;

}

.lear {
    top: 50px;
    left: -13px;
    transform: rotate(348deg);
    box-shadow: inset -4px 0 2px rgba(177, 114, 63, 0.7);
}

.rear {
    top: 50px;
    left: 143px;
    transform: rotate(12deg);
    box-shadow: inset 4px 0 2px rgba(177, 114, 63, 0.7);
}

.lup, .ldown, .rup, .rdown {
    position: absolute;
    width: 10px;
    height: 9px;
    background-color: #f1b288;
    border: 1px solid black;
    border-radius: 20px 0 0 20px;
    z-index: 2;
    
}

.lup {
    top: 59px;
    left: -7px;
    transform: rotate(70deg);
    box-shadow: inset 0 3px 2px rgba(177, 114, 63, 0.7);
}

.ldown {
    top:72px;
    left: -3px;
    transform: rotate(250deg);
    box-shadow: inset 0 -3px 2px rgba(177, 114, 63, 0.7);
}

.rup {
    top: 59px;
    left: 147px;
    transform: rotate(110deg);
    box-shadow: inset 1px -3px 2px rgba(177, 114, 63, 0.7);
}

.rdown {
    top: 72px;
    left: 143px;
    transform: rotate(290deg);
    box-shadow: inset 1px 3px 2px rgba(177, 114, 63, 0.7);
}

.lcheek1, .lcheek2, .rcheek1, .rcheek2 {
    position: absolute;
    border-top: 1px solid black;
    border-radius: 50%;
}

.lcheek1 {
    top: 85px;
    left: 10px;
    width: 35px;
    height: 10px;
}

.lcheek2 {
    top: 85px;
    left: 20px;
    width: 25px;
    height: 10px;
}

.rcheek1 {
    top: 85px;
    left: 90px;
    width: 35px;
    height: 10px;
}

.rcheek2 {
    top: 85px;
    left: 90px;
    width: 25px;
    height: 10px;
}

.details {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
}

.highlightnose {
    position: absolute;
    top: 172px;
    left: 147px;
    width: 10px;
    height: 7px;
    border-radius: 50%;
    background-color: rgba(255, 237, 189, 0.5);
    transform: rotate(150deg);
}

.highlightcheek {
    position: absolute;
    top: 168px;
    left: 172px;
    width: 12px;
    height: 18px;
    border-radius: 50%;
    background-color: rgba(255, 237, 189, 0.5);
    transform: rotate(150deg);
}

.highlightchin {
    position: absolute;
    top: 184px;
    left: 97px;
    width: 25px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 237, 189, 0.5);
    transform: rotate(135deg);
}

.shadowface {
    position: absolute;
    top: 200px;
    left: 155px;
    width: 5px;
    height: 0;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 15px solid rgba(230, 163, 132, 0.5);
    border-radius: 60%;
    transform: rotate(240deg);
}

.eyeborder1{
    position: absolute;
    top: 124px;
    left: 183px;
    width: 40px;
    height: 20px;
    border-top: 1.5px solid black;
    border-radius: 10%;
    transform: rotate(80deg);
    z-index: 6;
}

.eyeborder2{
    position: absolute;
    top: 124px;
    left: 80px;
    width: 40px;
    height: 20px;
    border-top: 1.5px solid black;
    border-radius: 10%;
    transform: rotate(280deg);
    z-index: 6;
}

.text {
    width: 250px;
    text-align: center;
    margin: auto;

}

hr {
    border: 1px solid black;;
}

.text p {
    line-height: 0.2;
}
