body {
    background-color: rgb(221, 195, 160);
    font-family: "Pacifico", cursive;
    font-size: 36px;
    margin: 0;
}

.head {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 50px auto;
}

.basehair {
    position: absolute;
    top: 40px;
    left: 70px;
    width: 160px;
    height: 120px;
    background-color: black;
    border-radius: 150px 150px 0 0;
    z-index: 1;
}

.blocks {
    position: absolute;
    top: 0;
    left: 0;
}

.block1 {
    position: absolute;
    top: -10px;
    left: 100px;
    width: 40px;
    height: 100px;
    border-radius: 0 120px 0 0;
    background-color: black;
    transform: rotate(330deg);
}

.block2 {
    position: absolute;
    top: 15px;
    left: 65px;
    width: 40px;
    height: 100px;
    border-radius: 0 120px 0 0;
    background-color: black;
    transform: rotate(310deg);
}

.block3 {
    position: absolute;
    top: 50px;
    left: 40px;
    width: 40px;
    height: 100px;
    border-radius: 0 120px 0 0;
    background-color: black;
    transform: rotate(280deg);
}

.block4 {
    position: absolute;
    top: 85px;
    left: 60px;
    width: 20px;
    height: 100px;
    border-radius: 0 120px 0 0;
    background-color: black;
    transform: rotate(275deg);
}

.block5 {
    position: absolute;
    top: 130px;
    left: 50px;
    width: 20px;
    height: 50px;
    border-radius: 0 120px 0 0;
    background-color: black;
    transform: rotate(270deg);
}

.block6 {
    position: absolute;
    top: 70px;
    left: 130px;
    width: 100px;
    height: 10px;
    border-radius: 0 150px 0 0;
    background-color: black;
    transform: rotate(310deg);
}

.block7 {
    position: absolute;
    top: 25px;
    left: 190px;
    width: 20px;
    height: 100px;
    border-radius: 0 0 120px 0;
    background-color: black;
    transform: rotate(240deg);
}

.block8 {
    position: absolute;
    top: 50px;
    left: 200px;
    width: 40px;
    height: 100px;
    border-radius: 0 0 120px 0;
    background-color: black;
    transform: rotate(260deg);
}

.block9 {
    position: absolute;
    top: 85px;
    left: 200px;
    width: 20px;
    height: 100px;
    border-radius: 0 0 120px 0;
    background-color: black;
    transform: rotate(265deg);
}

.block10 {
    position: absolute;
    top: 130px;
    left: 225px;
    width: 20px;
    height: 50px;
    border-radius: 0 0 120px 0;
    background-color: black;
    transform: rotate(270deg);
}

.flocks {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
}

.flock1 {
    position: absolute;
    top: 80px;
    left: 70px;
    width: 30px;
    height: 60px;
    border-radius: 0 120px 0 0;
    background-color: black;
    transform: rotate(190deg);
    z-index: 5;
}

.flock2 {
    position: absolute;
    top: 68px;
    left: 100px;
    width: 32px;
    height: 60px;
    border-radius: 0 120px 0 0;
    background-color: black;
    transform: rotate(190deg);
    z-index: 5;
}

.flock3 {
    position: absolute;
    top: 73px;
    left: 145px;
    width: 60px;
    height: 50px;
    border-top: 7px solid black;
    border-radius: 9px;
    transform: rotate(280deg);
    z-index: 5;
}

.flock4 {
    position: absolute;
    top: 68px;
    left: 170px;
    width: 32px;
    height: 60px;
    border-radius: 120px 0 0 0;
    background-color: black;
    transform: rotate(170deg);
    z-index: 5;
}

.flock5 {
    position: absolute;
    top: 80px;
    left: 200px;
    width: 30px;
    height: 60px;
    border-radius: 120px 0 0 0;
    background-color: black;
    transform: rotate(170deg);
    z-index: 5;
}

.face {
    position: absolute;
    top: 75px;
    left: 80px;
    width: 140px;
    height: 150px;
    background-color: #fcccac;
    border-radius: 40%;
    border: 1px solid black;
    z-index: 5;
}

.leye, .reye {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50px; 
}

.leye {
    left: 20px; 
}

.reye {
    left: 75px; 
}

.lwhite, .rwhite {
    position: absolute;
    top: -10px;
    left: -2px;
    width: 15px;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 55px solid white;
    border-radius: 60%;
}

.liris, .riris {
    position: absolute;
    top: 10px;
    left: 25px;
    width: 10px;
    height: 15px;
    background-color: black;
    border-radius: 30%;
}

.rwhite {
    transform: rotate(260deg);
    left: 8px;
}

.lwhite {
    transform: rotate(100deg);
}

.riris {
    left: 5px;
}

.leyebrow, .reyebrow { 
    position: absolute; 
    top: px; 
    left: -10px; 
    width: 50px; 
    height: 11px; 
    border-top: 6px solid black; 
    transform: rotate(20deg); 
}

.reyebrow {
    left: 0px;
    transform: rotate(340deg);
}

.nose {
    position: absolute;
    top: 100px;
    left: 65px;       
    width: 10px;
    height: 10px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 40% 40% 40% 40%;
    transform: rotate(120deg);
}

.mouth {
    position: absolute;
    top: 110px;
    left: 55px;
    width: 30px;
    height: 15px;
    border-bottom: 2px solid black; 
    border-radius: 0 0 100% 100%;
}

.ears {
    position: absolute;
    top: 80px;
    left: 75px;
}

.lear, .rear {
    position: absolute;
    width: 20px;
    height: 40px;
    background-color: #fcccac;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 1;
}

.lear {
    top: 50px;
    left: -13px;
    transform: rotate(348deg);
}

.rear {
    top: 50px;
    left: 143px;
    transform: rotate(12deg);
}

.lup, .ldown, .rup, .rdown {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #e68e54;
    border: 1px solid black;
    border-radius: 20px 0 0 20px;
    z-index: 2;
}

.lup {
    top: 57px;
    left: -10px;
    transform: rotate(80deg);
}

.ldown {
    top:72px;
    left: -7px;
    transform: rotate(260deg);
}

.rup {
    top: 57px;
    left: 150px;
    transform: rotate(100deg);
}

.rdown {
    top: 72px;
    left: 147px;
    transform: rotate(280deg);
}

.lcheek1, .lcheek2, .rcheek1, .rcheek2 {
    position: absolute;
    border-top: 1px solid black;
    border-radius: 50%;
}

.lcheek1 {
    top: 85px;
    left: 10px;
    width: 40px;
    height: 10px;
}

.lcheek2 {
    top: 85px;
    left: 20px;
    width: 30px;
    height: 10px;
}

.rcheek1 {
    top: 85px;
    left: 90px;
    width: 40px;
    height: 10px;
}

.rcheek2 {
    top: 85px;
    left: 90px;
    width: 30px;
    height: 10px;
}

.text {
    text-align: center;
    margin: 20px auto;
}

hr {
    border: 1px solid black;
    margin: 10px auto;
}